name: Automated tests
on:
  push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.14.2'
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
        - name: Run tests
          run: |
            python -m pytest tests/ allure-results/
        - name: Upload Allure Report
          uses: actions/upload-artifact@v4
          with:
            name: allure-results
            path: allure-results/
        - name: Generate Allure Report
          run: |
            allure generate allure-results/ -o allure-report/ --clean
        - name: Upload Allure Report Artifact
          uses: actions/upload-artifact@v4
          with:
            name: allure-report
            path: allure-report/
        - name: Publish Allure Report
          uses: peaceiris/actions-gh-pages@v4
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./allure-report/
            commit_message: "Update Allure Report"
     